[submodule "monster-hunter-DB"]
	path = submodules/monster-hunter-DB
	url = https://github.com/CrimsonNynja/monster-hunter-DB.git
[submodule "persona5_calculator"]
	path = submodules/persona5_calculator
	url = https://github.com/chinhodado/persona5_calculator
[submodule "submodules/splat3"]
	path = submodules/splat3
	url = https://github.com/Leanny/splat3
[submodule "submodules/DQM3-db"]
	path = submodules/DQM3-db
	url = https://github.com/Glazelf/DQM3-db
[submodule "submodules/pokemon-tcg-data"]
	path = submodules/pokemon-tcg-data
	url = https://github.com/PokemonTCG/pokemon-tcg-data
