# Environment
/.idea
/.vs
/.vscode
*.log
.npm
.node_repl_history
init
# Environment specific files
.env
*.dev.js
.node-xmlhttprequest-sync-*
npm-debug.log*
build/Release
ffmpeg.exe
config.json
launch.json
*.bak
*.db
*sqlite
# Dependencies
/node_modules
jspm_packages
/assets/pkm
/src/assets/pkm
# TypeScript
/build
/dist
*.tsbuildinfo
# Roms
*.gbc
*.gb
*.gba
*.sav
/assets/roms/screenshot.* 
/src/assets/roms/screenshot.*
# Other
pids
*.pid
*.seed
.channels