.env
/node_modules
/.idea
/.vs
*.log
npm-debug.log*
pids
*.pid
*.seed
build/Release
jspm_packages
.npm
.node_repl_history
init
.channels
*.bak
*.db
*sqlite
ffmpeg.exe
config.json
launch.json
*.dev.js
/.vscode
/src/assets/pkm
# TypeScript
/build
*.tsbuildinfo
# Roms
*.gbc
*.gb
*.gba
*.sav
/src/assets/roms/screenshot.*