/node_modules
/.idea
/.vs
*.log
npm-debug.log*
pids
*.pid
*.seed
build/Release
jspm_packages
.npm
.node_repl_history
init
.channels
*.bak
*.db
*sqlite
ffmpeg.exe
README.md
config.json
launch.json
/
*.dev.js
/.vscode